# ---- secrets / env ----
infra/.env
*.env

# ---- Java / Maven ----
**/target/
**/.classpath
**/.project
**/.settings/
**/.idea/
**/*.iml
./backend/bin/

# ---- VS Code ----
.vscode/

# ---- Logs ----
*.log

.gitignore